page-display-booking {

}

.red
{
  color:red !important;
}

.green
{
  color:green !important;
}

.yellow
{
  color:yellow !important;
}

.square
{
  background: white;
  opacity: 0.8 !important;
  border-radius: 10px;
}

.white
{
  color: black !important;
}
