page-display-booking {

}
<<<<<<< HEAD

.red
{
  color:red !important;
}

.green
{
  color:green !important;
}

.yellow
{
  color:yellow !important;
}

.square
{
  background: white;
  opacity: 0.8 !important;
  border-radius: 10px;
}

.white
{
  color: black !important;
}
=======
>>>>>>> d0fd627ecd2d47ce50d54d633e1ef168adfb1adc
