
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Mes réservations</ion-title>



    </ion-navbar>

  </ion-header>

<ion-content padding>

    <ion-col col-10 style="margin: auto; padding-left: 1em;" *ngFor="let booking of bookings">
      <ion-item class="square">
        <p class="white">{{booking.dateTime}}</p>
        <p *ngIf="booking.state == 0" class="yellow">En attente de validation</p>
        <p *ngIf="booking.state == 1" class="green">Validée.</p>
        <p *ngIf="booking.state == 2" class="red">Refusée</p>

      </ion-item>

      </ion-col>
</ion-content>
