page-admin {

}

.red
{
  color:red !important;
}

.btnRefuse
{
  color: white;
  background-color: #d9534f;
}

.btnValidate
{
  color: white;
  background-color: #5cb85c;
}

.square
{
  background: white;
  opacity: 0.8 !important;
  border-radius: 10px;
}

.white
{
  color: black !important;
}